* {
    font-family: 'Source Sans Pro';
}

p {
    font-size: 23px;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-align: center;
}

body {
    overflow-x: hidden;
}

.background-white{
    background-color: white;
}

.background-teal, .background-teal div{
    background-color: #e0f5f3;
}

.contact-nav{
    padding-top: 14px;
    background-color: #0d9c90;
    height: 80px;
}

.contact-nav-logo{
    border-radius: 5%;
    width: 120px;
    height: 55px;
}

.nav-brand{
    padding-top: 14px;
    font-size: 30px;
    font-weight: bold;
}

.officer_image {
    border-radius: 50%;
    height: 200px;
    margin: 10px;
    opacity: 1;
    width: 200px;
}

.card {
    border: none;
    line-height: 1;
    margin: 10px auto 10px auto;
    text-align: center;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mentor_text {
    margin: 10px auto 10px auto;
    padding: 50px;
    text-align: center;
}

.banner {
    width: 100vw;
    height: 425px;
    position: relative;
    display: block;
}

.banner-img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 49%;
    text-align: center;
    width: 100vw;
    height: 425px;
    z-index: -1;
    background: url("Assets/contactbanner.jpg");
    background-position: center;
    background-repeat: repeat;
}

.banner h1 {
    color: white;
    font-size: 70px;
    padding-top: 160px;
    text-align: center;
}

.faded {
    filter: brightness(0.5);
    transition: 1s ease-in-out;
}

.contact_text{
    padding-top: 20px;
    margin-bottom: 0px;
}

.section{
    padding-bottom: 40px;
    padding-top: 40px;
}

.blurb{
    width: 200px;
}

/*nav bars*/

.nav {
    justify-content: center;
    width: 100vw;
}

.nav ul li {
    color: white;
    display: inline;
    font-size: 20px;
    padding: 2vw;
    transition: ease-in-out .25s;
}

.nav ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    transition: ease-in-out .25s;
}

.nav ul li {
    cursor: pointer;
}

.home-nav-link::before {
    background-color: white;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.home-nav-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

/* index page */

.home-nav{
    top: 7vw;
    display: inline-flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-banner {
    background-color: #0d9c90;
    display: flex;
    justify-content: center;
}

.home-banner img {
    display: block;
    height: auto;
    max-height: 100vh;
    position: relative;
    width: 100%;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: .5s ease-in-out;
}

.mission {
    margin-bottom: 20vh;
    margin-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.animation-hr {
    border-top: 1px solid lightgray;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.not-in-view-hr {
    width: 0;
}

.in-view-hr {
    transition: 1s ease-in-out;
    width: 100%;
}

.not-in-view-fade {
    opacity: 0;
}

.in-view-fade {
    opacity: 1;
    transition: 1s ease-in-out;
}

.focus {
    background-color: #e0f5f3;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
}

.three-c-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.three-c-table h1 {
    text-align: center;
    margin: 10px;
}

.whatwedo {
    margin-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 20vh;
}

.whatwedo img {
    border-radius: 5px;
    padding-bottom: 20px;
    width: 90%;
}

.home-heading {
    color: #ed5139;
    font-size: 7vh;
}

.join {
    background-color: #e0f5f3;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
    text-align: center;
}

footer {
    background-color: white;
    text-align: center;
}

footer p {
    font-size: 12px;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
