/*universal styling (no media queries)*/

* {
    font-family: 'Source Sans Pro';
    text-align: center;
}

.background-white,
.background-white div {
    background-color: white;
}

.background-teal,
.background-teal div {
    background-color: #e0f5f3;
}

.background-teal .background-light-teal,
.background-teal .background-light-teal div {
    background-color: #f1fdfb;
}

body {
    overflow-x: hidden;
}

.officer-image {
    border-radius: 50%;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 60px;
}

.contact-nav {
    padding-top: 14px;
    height: 80px;
}

.contact-nav-logo {
    width: 120px;
    height: 55px;
    border-radius: 5px;
}

.officer-image {
    height: 200px;
    margin: 10px;
    width: 200px;
}

.card {
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    margin-right: auto;
    margin-left: auto;
}

.mentor_text {
    margin: 10px auto 10px auto;
    padding: 50px;
    text-align: center;
}

.banner {
    height: 425px;
    position: relative;
    display: block;
}

.banner-img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 49%;
    text-align: center;
    width: 100vw;
    height: 425px;
    z-index: -1;
    background-position: center;
    background-repeat: repeat;
}

.contact-banner {
    background: url("Assets/contactbanner.jpg");
    background-position: center;
}

.project-banner {
    background: url("Assets/projectbanner.jpg");
    background-position: center;
}

.banner h1 {
    color: white;
    font-size: 70px;
    padding-top: 160px;
    text-align: center;
}

.faded {
    filter: brightness(0.5);
    transition: 1s ease-in-out;
}

.contact_text {
    padding-top: 20px;
    margin-bottom: 0px;
}

.section {
    padding-bottom: 40px;
    padding-top: 40px;
}

.blurb {
    padding: 10px;
}

.blurb p {
    font-size: 19px;
    line-height: 1.1;
}

/*nav bars*/

.nav {
    justify-content: center;
    width: 100vw;
}

.home-nav ul {
    padding-left: 0;
    padding-right: 0;
}

.nav ul li {
    color: white;
    display: inline;
    font-size: 20px;
    padding: 2vw;
    transition: ease-in-out .25s;
    cursor: pointer;
}

.nav ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    transition: ease-in-out .25s;
}

.home-nav-link::before {
    background-color: white;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.nav-link-underline:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.nav-link-underline::before {
    background-color: white;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.home-nav-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.contact-nav {
    background-color: #0d9c90;
}

/* index page */

.home-nav {
    top: 8vw;
    display: inline-flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-banner {
    background-color: #0d9c90;
    display: flex;
    justify-content: center;
}

.home-banner img {
    display: block;
    height: auto;
    position: relative;
    width: 100vw;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: .5s ease-in-out;
}

.mission {
    margin-bottom: 20vh;
    margin-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.animation-hr {
    border-top: 1px solid lightgray;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.not-in-view-hr {
    width: 0;
}

.in-view-hr {
    transition: 1s ease-in-out;
    width: 100%;
}

.not-in-view-fade {
    opacity: 0;
}

.in-view-fade {
    opacity: 1;
    transition: 1s ease-in-out;
}

.focus {
    background-color: #e0f5f3;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
}

.three-c-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.three-c-table h1 {
    text-align: center;
    margin: 10px;
}

.whatwedo {
    margin-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 20vh;
}

.whatwedo img {
    border-radius: 5px;
    padding-bottom: 20px;
    width: 90%;
}

.home-heading {
    color: #ed5139;
    font-size: 7vh;
}

.join {
    background-color: #e0f5f3;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
    text-align: center;
}

footer {
    background-color: white;
    text-align: center;
}

footer p {
    font-size: 12px;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

/* responsive nav */

.burger {
    display: none;
    cursor: pointer;
    z-index: 2;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: ease-in-out 250ms;
}

.nav-fixed {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 80px;
    width: 100%;
    transform: translateY(0%);
    background-color: #0d9c90;
}

.navlinks {
    z-index: 2;
}

.nav-logo-responsive {
    width: 120px;
    height: 55px;
    display: none;
    border-radius: 5px;
}

.home-nav img {
    width: 50px;
    height: 50px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 900px) {
    .burger {
        display: block;
        padding-top: 8px;
        position: absolute;
        left: 30px;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: ease-in-out 250ms;
    }

    .toggle .line2 {
        opacity: 0;
        transition: ease-in-out 250ms;
    }

    .toggle .line3 {
        transform: rotate(+45deg) translate(-5px, -6px);
        transition: ease-in-out 250ms;
    }

    .navlinks {
        position: absolute;
        padding-top: 10px;
        padding-bottom: 10px;
        right: 0px;
        top: 80px;
        background-color: #e0f5f3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transform: translateY(-150%);
        transition: ease-in-out 300ms;
        z-index: 1;
    }

    .nav-active {
        transform: translateY(0%);
        transition: ease-in-out 500ms;
    }

    .navlinks img {
        display: none;
    }

    .nav ul li {
        opacity: 0;
        display: block;
        color: black;
        padding: 1vw;
    }

    .nav ul li a {
        color: black;
    }

    .nav-link-underline::before {
        background-color: black;
    }

    .nav-logo-responsive {
        display: block;
        z-index: 2;
    }

    .home-nav ul li {
        display: inline;
        opacity: 1;
    }

    .home-nav ul li a {
        color: white;
        font-size: 13px;
    }

    .home-nav img {
        width: 4vw;
        height: 4vw;
    }

    .home-nav {
        top: 60px;
    }
}

/*phone screen*/

@media only screen and (max-width: 400px) {
    .card {
        margin-right: auto;
        margin-left: auto;
        width: 90vw;
    }

    .home-banner img {
        height: 50vh;
    }
}

/*tablet screen*/

@media only screen and (max-width: 800px) and (min-width: 400px) {
    h1 {
        font-size: 57px;
    }

    .card {
        margin-right: auto;
        margin-left: auto;
        width: 400px;
    }
}

/* small computers*/
@media only screen and (max-width: 1200px) and (min-width: 800px) {
    h1 {
        font-size: 57px;
    }

    .card {
        margin-right: auto;
        margin-left: auto;
        width: 400px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 57px;
    }

    .card {
        width: 400px;
    }

    .left {
        /*margin-left: 20vw;*/
        margin-left: auto;
        margin-right: 30px;
    }

    .right {
        /*margin-left: 4vw;*/
        margin-left: 30px;
    }
}